학번 : 2020136027 이름 : 김유경

# 1

In [6]:
L = [1,2,3,4,5]
L[1:3] = [100]
print(L)

L = [1,2,3,4,5]
L[1:3] = [(100)]
print(L)

#L = [1,2,3,4,5]
#L[1:3] = 100
#print(L)

#L = [1,2,3,4,5]
#L[1:3] = (100)
#print(L)

L = [1,2,3,4,5]
L[1:3] = (100,101,102)
print(L)

L = [1,2,3,4,5]
L[1:3] = [100,101,102]
print(L)

L = [1,2,3,4,5]
L[1:3] = [(100,101,102)]
print(L)

L = [1,2,3,4,5]
L[1:3] = [[100,101,102]]
print(L)

[1, 100, 4, 5]
[1, 100, 4, 5]
[1, 100, 101, 102, 4, 5]
[1, 100, 101, 102, 4, 5]
[1, (100, 101, 102), 4, 5]
[1, [100, 101, 102], 4, 5]

1) L[1:3]은 [2,3]인데, 거기에 [100]하나만 할당하니까 2,3에 100이 들어간 것 같다.

2) [100]이나 [(100)]이나 똑같은 자료형이다. 그러므로 1)과 같은 이유로 2,3에 100이 들어간 것 같다.

3) 에러가 나서 주석처리 하였다. "can only assign an iterable"라는 에러가 뜨는데, L[1:3]은 시퀀스 자료형이지만 100은 시퀀스 자료형이 아니므로 이 에러가 뜬 것 같다.

4) 3)번과 같이 "can only assign an iterable"라는 에러가 떠서 주석처리 했는데, 100이나 (100)이나 똑같은 int형이므로 시퀀스 자료형이 아니라 에러가 뜬 것 같다.

5) [2,3]에 (100,101,102)를 할당해서 2,3 대신 100,101,102가 들어가므로 [1,100,101,102,4,5]와 같은 결과가 나오는 것 같다.

6) 5)번과 같은 이유로 2,3 대신 100,101,102가 들어가므로 저런 결과가 나오는 것 같다.

7) [2,3]에 [(100,101,102)] 요소 하나만 할당하니까 2,3 자리에 (100,101,102)가 들어간 것 같다.

8) 7)번과 같은 이유로 [2,3]에 [[100,101,102]] 요소 하나만 할당하니까 2,3자리에 [100,101,102]가 들어간 것 같다.

# 2

In [7]:
S = 'Hello World and Python'

slist = S.split()
slist = slist[::-1]
S1 = ' '.join(slist)
print(S1)

S2 = S1.split()
S2 = ''.join(S2)
print(S2)

Python and World Hello
PythonandWorldHello

일단 처음에 문자열 S를 split을 이용해 공백을 기준으로 나누어 리스트로 slist에 저장하고 slist[::-1]로 통해 역순으로 만든다. 그리고 join을 통해 다시 문자열로 만들면 'Python and World Hello'이 만들어진다. 그 다음 이걸 다시 split을 이용해 공백을 기준으로 나누어 S2에 리스트로 저장하고 join을 통해 공백 없이 문자열로 만든다. 그러면 'PythonandWorldHello'가 만들어진다.

# 3

In [8]:
a = [1, 2, 3]
b = a * 3
c = [a] * 3
print(b)
print(c)

a[0]=0
print(b)
print(c)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[1, 2, 3], [1, 2, 3], [1, 2, 3]]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[0, 2, 3], [0, 2, 3], [0, 2, 3]]

2) b는 a와 다른 새로운 객체를 가리키고 c의 모든 요소들은 a가 가리키는 객체를 가리킨다.

# 4

In [9]:
s = '  first star   :   second star   :    third star  '
slist = s.split(':')
l = [i.strip() for i in slist]
print(l)

['first star', 'second star', 'third star']

split을 이용해 :를 기준으로 문자열 s를 나눠서 리스트로 slist에 저장했다. 그 다음엔 리스트 내포를 이용해 for문으로 slist에 있는 요소 하나하나를 공백제거 한 뒤 l에 저장했다.

In [12]:
def addall(list) :
    sum = 0
    for i in list :
        sum += i
    return sum

print(addall([1,2,3,4,5,6,7,8,9]))

def addall(list) :
    return sum([i for i in list])

print(addall([1,2,3,4,5,6,7,8,9]))

45
45

위에가 for~in 리터럴 방식이고 아래가 리스트 내포 방식이다. 인자로 받는 list의 모든 요소를 더하고 그 결과를 반환한다.

In [14]:
def addallodd(list) :
    sum = 0
    for i in list :
        if i%2==1 :
            sum += i
    return sum

print(addallodd([1,2,3,4,5,6,7,8,9]))

def addallodd(list) :
    return sum([i for i in list if i%2==1])

print(addallodd([1,2,3,4,5,6,7,8,9]))

25
25

위에가 for~in 리터럴 방식이고 아래가 리스트 내포 방식이다. 인자로 받는 list의 요소 중 홀수만 더하고 그 결과를 반환한다.

# 5

1) d와 e가 가리키는 객체가 같기 때문이다. 그래서 d의 값이 바뀌어도 d와 e는 항상 같은 결과를 출력한다.

2) f는 d를 얕은 복사한 것이다. d['low'] = [10, 20, 30]를 함으로써 재할당되어 d의 low키의 값은 [10,20,30]이 출력되고 f의 low키의 값은 [1,2,3]이 출력된다. 하지만 얕은 복사이므로 d['low']의 주소와 f['low']의 주소가 같기 때문에 d['high'][1] = 500을 하면 f의 high키 값 중 500이 출력된다.

# 6

In [18]:
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
key = []
value = []
for i in d.keys() :
    key.append(i)
for i in d.values() :
    value.append(i)

key1 = sorted(key)
for i in key1 :
    print((i, d[i]), end=' ')
print()
    
key2 = sorted(key, reverse=True)
for i in key2 :
    print((i, d[i]), end=' ')
print()

value1 = sorted(value)
for i in value1 :
    for k,v in d.items() :
        if v == i :
            print((k, v), end=' ')
print()
            
value2 = sorted(value, reverse=True)
for i in value2 :
    for k,v in d.items() :
        if v == i :
            print((k, v), end=' ')

('five', 5) ('four', 4) ('one', 1) ('three', 3) ('two', 2)
('two', 2) ('three', 3) ('one', 1) ('four', 4) ('five', 5)
('one', 1) ('two', 2) ('three', 3) ('four', 4) ('five', 5)
('five', 5) ('four', 4) ('three', 3) ('two', 2) ('one', 1)

일단 처음에 d.keys()와 d.values()를 통해 키를 모아둔 리스트, 값을 모아둔 리스트를 만든다. 그 다음에는 문제 조건에 맞게 sorted하여 오름차순, 내림차순을 적용시키고 튜플로 (키,값)을 출력한다.

# 7

In [16]:
def isStrange(num) :
    snum = ""
    length = 0
    if num>=0 :
        snum = str(num)
        length = len(snum)
    else :
        snum = str(num)
        length = len(snum)-1
    
    if num>=0 and length == 1:
        return True
    elif length > 1 and num%length == 0 :
        if isStrange(num//length) :
            return True
    return False

print(isStrange(0))
print(isStrange(56))
print(isStrange(100))
print(isStrange(7882602506492313600))
print(isStrange(6012302549522098651))

True
True
False
True
False

처음에 snum에는 입력받은 num을 문자열 타입으로 만들어 저장하고 length에는 snum의 길이를 통해 num의 자릿수를 구하는 방식으로 자릿수를 구해 저장했다. 그 다음에는 Strange조건에 맞게 조건문을 작성하였다. 0이상, 자릿수가 1이면 True를 반환한다. 그리고 자릿수가 1보다 크고 num이 자릿수로 정확히 나누어 떨어질 때 num//자릿수도 Strange이면 True를 반환한다. 나머지 경우는 모두 False를 반환한다.

# 8

In [23]:
def solve(a):
    storeA = a
    result = []
    sum = 0
    for i in range(len(a)):
        sum += a[i]
    bus = 1
    check = False
    while True:
        for i in range(len(a)):
            temp = 0
            if sum == bus: 
                result.append(sum)
                check = True
                break

            if temp == bus and i < len(a)-1:
                temp = temp + a[i]
                a[i] = 0
            elif temp < bus and i < len(a)-1:
                temp = temp + a[i]
                a[i] = 0
            elif temp > bus and i < len(a)-1:
                for i in range(len(a)):
                    a[i] = storeA[i]
                temp = 0
            elif temp < bus and i == len(a)-1:
                for i in range(len(a)):
                    a[i] = storeA[i]
                temp = 0
                break
            elif temp == bus and i == len(a)-1:
                result.append(bus)
                for i in range(len(a)):
                    a[i] = storeA[i]
                temp = 0
                break
            elif temp >= bus and i == len(a)-1:
                for i in range(len(a)):
                    a[i] = storeA[i]
                temp = 0
        if check: break
        bus += 1
    return result

solve([1, 1, 1, 1])

[4]

# Incremental Project 문제

In [ ]:
import requests

req = requests.get('https://programmers.co.kr/')
#req = requests.get('https://www.acmicpc.net/')

line = req.text

#print(line)

l1 = list(line)

try:
    while True :
        i = l1.index('<')
        
        if l1[i+1] == 's' and l1[i+2] == 'c':
            l1.pop(i)
            while l1[i] != '<' :
                l1.pop(i)
        elif l1[i+1] == 'n' :
            l1.pop(i)
            while not (l1[i] == '<' and l1[i+1] == '/' and l1[i+2] == 'n') :
                l1.pop(i)
        else :
            while l1[i] != '>' : 
                l1.pop(i)
            if l1[i] == '>' : 
                l1.pop(i)
except: None

try :
    while True :
        i = l1.index('\n')       
        if l1[i] == '\n' :
            l1.pop(i)
except : None
            
b = ''.join(l1).split()




import string

newlist = []

for substring in b :
    substring2 = ''.join([i for i in substring if i not in string.punctuation])
    newlist.append(substring2)
            
newlist = ' '.join(newlist).split()
    
print(newlist)

for i in range(len(newlist)) :
    a = newlist.count(newlist[i])
    print(a)

이번 과제의 첫번째 for문에서 .,()이런걸 지웠고 그 다음에 빈문자열을 지웠고 그 다음 for문에서 각 단어의 개수를 셌다

이번 과제는 쉬운듯 어려웠다. 더 많이 공부해야 될 것 같다.